.header {
   border-color: var(--ui-g-0);
   z-index: 1;
}


.isFixed {
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    left: 0;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.svg,
 img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.headerList {
  display: flex;
  a {
    text-decoration: solid;
    &.active {
      cursor: default;
      pointer-events: none;
      opacity: 0.8;

    }
  }
}
